nav {
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

body {
    background-color: #AAA;
}

#TogglingArea {
    background-color: #Df2;
    margin: 0;
    padding: 2em;
}

#sidebar {
    background-color: #2F3;
    margin: 0;
    padding: 2em;
}

#title {
    margin-top: 5pc;
}